body{
  color:#40514e;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}


.front{
  text-decoration: underline;
}



h1{
  color: #66BFBF;
  font-size: 5.526rem;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;

 

}


h2{
  color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 1px;
  font-weight: normal;
}

h3{
  color: #11999e;
  font-family: 'Montserrat', sans-serif;

}
a{
  color: #11999e;
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;

}

a:hover{
  color: #eaf6f6;
}

p{
  line-height: 2;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.btn{
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top,#11cdd4,#11999e);
  background-image: -webkit-linear-gradient(top,#11cdd4,#11999e);
  background-image:-ms-linear-gradient(top,#11cdd4,#11999e);
  background-image: -o-linear-gradient(top,#11cdd4,#11999e);
  background-image: linear-gradient(top,#11cdd4,#11999e);
  -webkit-border-radius:8;
  border-radius: 8px;
  font-family: arial;
  color: #ffffff;
  font-size: 20px;padding: 10px 20px 10px 20px ;
  text-decoration: none;
}
.btn:hover{
  
  background-image: -webkit-linear-gradient(top,#30e3cb,#2bc4ad);
  background-image: -moz-linear-gradient(top,#30e3cb,#2bc4ad);  
  background-image: -ms-linear-gradient(top,#30e3cb,#2bc4ad);
  background-image: -o-linear-gradient(top,#30e3cb,#2bc4ad);
  background-image: linear-gradient(top,#30e3cb,#2bc4ad);
  text-decoration: none;
}

.top-cloud{
  position: absolute;
  right:300px;
  top:40px;
}

hr{
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}


.bottom-cloud{
  position: absolute;
  left:250px;
  bottom:300px;
  
}

.profile-pic{
   width: 100px;
   border-radius: 50%;
   height: 100px;
}
 

.writer-img{
 
  width:20%;
  border-radius: 50%;
  float: right; 
  margin-left: 30px;
  
}

.developer-img{
  
  width: 20%;
  border-radius: 50%; 
   float: left; 
   margin-right: 30px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}

.top-container{
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  margin: 100px 0;
}

.bottom-container{
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.copy-right{
  color:#eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}